.advantages-wrapper {
  margin-top: 450px;
}

.articles {
  color: #fdffff;
  padding-left: 40px;
margin-top: auto;
  > div {
    text-align: center;

    > h3 {
      font-weight: bold;
      color: #fdffff;
      margin-bottom: -5px;

    }
  }

}

.advant-title {
  font-weight: bold;
  font-size: x-large;
  color: #fdffff;
  text-align: center;

}


