.raw {
  width: 100%;
  >div{
    width: 70%;
    margin: auto;
  }
}

.col {
  display: inline-flex;
  margin-right: 20px;

  >div {
    >i{
      padding-left: 43%;
      font-size: xx-large;
    }
    > h3 {
      color: #f0f1f2;
      text-align: center;
      font-weight: bold;
    }

    > p {
      text-align: center;
      font-size: small;
    }
  }
}

.reasons-wrapper {
  color: #f0f1f2;
  margin-top: 180px;
  >h1{
    font-weight: bold;
  }
}

.reason-title {
  color: #f0f1f2;
  text-align: center;
}