.wrap-mob{
  //width: 90%;
  margin: 60px auto;

>div{
  //width: 50%;
margin: auto;

  >h1{
    text-align: center;
    color: white;
    font-weight: bold;
  }
  >div{
    width: fit-content;
    margin: auto;
    >a {
      > div {
        display: inline-flex;
        background-repeat: no-repeat;
        margin: 20px;

      }
    }
  }

}
}

@media screen and (min-width: 2730px) {
  .wrap-mob {
    margin-top: 400px;
  }
  }

#app-store{
  width: 200px;
  height: 70px;
  background-size: 200px 78px;
  background-image: url("../../images/appStore.png");
  background-position: 0 -9px;
  :hover{
    background-color: #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
}

#play-market{
  width: 200px;
  height: 70px;
  background-size: 200px 70px;
  background-image: url("../../images/playMarket.png");
}

@media (max-width: 846px) {
  .wrap-mob{
    >div{

      >div{

        >a {
          > div {
            display: block;

          }
        }
      }

    }
  }
}