.wrapper-routes {
  position: relative;
  padding-top: 135px;
  text-align: center;
  overflow: hidden;

}

.route-text {
  background-color: #f0f1f2;
  width: 70%;
  margin-left: 5.6%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  color: #ff6600;
  text-align: left;
}

.route-price {
  width: 24.4%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #dedde2;
  color: #ff6600;
  padding-top: 6.5%;
  font-weight: bold;
}

.title-text {
  text-align: center;
  margin: 0;
  font-size: x-large;
  color: #fffafe;
}

.popular-routes {
  font-size: large;
  align-content: center;
  top: 4%;
  color: #bc3505;
  right: 16%;
  padding: 5px;
}

.routes {
  margin-top: 2%;
  margin-left: 35px;
}

.route-link {
  border-radius: 10px;
  display: inline-flex;
  width: 27%;
  height: 70px;
  margin-right: 20px;
  background-color: #ff6600;
}

@media screen and (max-width: 500px){
  .route-link{
    width: 300px;
    margin-top: 30px;
  }
}

