
.wrapper-offer {
  padding-top: 10px;
  margin: auto;
  height: 100%;

}

.form-group {
  padding-top: 70px;
  padding-bottom: 50px;
  width: 90%;
  margin: auto;

  > h1 {
    text-align: center;
    color: #ff6600;
  }

}

.plll {
  width: 800px;
  margin: auto;
}

.from-to {
  margin: auto;

  > div {
    width: 45%;
    display: inline-block;
    margin: 20px;
    text-align: center;

    > h3 {
      color: #ff6600;
    }

  }
}

.input {
  height: 50px;
  width: 100%;
  background-color: #ff6600;
  border: 3px solid #ff6600;
  border-radius: 40px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: white;

}

.input:focus {
  outline: none !important;
  text-align: center;
}

.input1 {
  background: none;
  color: #ff6600;
}

.input:focus::placeholder {
  color: transparent;
}

.input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input:focus::-moz-placeholder {
  color: transparent;
}

.input:focus:-ms-input-placeholder {
  color: transparent;
}


::placeholder {
  color: white;
  opacity: 1; /* Firefox */
  transition: all 0.2s ease;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  transition: all 0.2s ease;

}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  transition: all 0.2s ease;

}


.input ::placeholder {
  color: white !important;
}

.date-time {
  text-align: center;
}

.date-time-inputs {
  width: fit-content;
  margin: auto;

  > div {
    display: inline-block;
  }
}

.submit-btn {
  margin: auto;

  > div {
    > div {
      > div {
        > span {
          > button {
            width: 200px;
            height: 40px;
            border-radius: 40px;
            border: 3px solid #ff6600;
            background-color: #ff6600;
            color: white;
            font-size: large;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#link {
  color: white !important;
}

.wrap-back-forward {

  > div {
    display: inline-flex;

    button {
      background: #ff6600;
      border: #ff6600 1px solid;
    }

    button:hover {
      background: #ff360e;
      border: #ff6600 1px solid;
    }

    button:focus {
      background: #ff4707;
      border: #ff6600 1px solid;
    }
  }

  #forward {
    float: right;
  }
}

.price-seats {
  width: fit-content;
  margin: auto;

  > div {
    display: inline-block;
    font-weight: bolder;
    color: #ff6600;

  }
}

.seats {
  label {
    color: #ff6600;
    text-align: center;
  }

  > div {
    width: fit-content;
    margin: auto;

    > div {
      > div {
        > div {
          width: fit-content;
          margin: auto;

          > span {
            > div {
              border: #ff6600 3px solid;
              border-radius: 40px;
              box-shadow: none;
              font-size: large;
              color: #ff6600;
              font-weight: bold;
              background: transparent;

            }

            > div:hover {

              border: #ff6600 3px solid;
              box-shadow: 0 0 0 2px rgba(255, 115, 30, 0.2);
            }

            > div:focus {
              border: #ff6600 1px solid;
              box-shadow: 0 0 0 2px rgba(255, 115, 30, 0.2);
            }
          }
        }
      }
    }
  }

}

.form-dtsd{
  transition-timing-function: ease-in;
  transition:0.5s;
}
.form-disabled{
  display: none;
}



.route-map {
  margin: auto;
}

.form-flex {
  width: 100%;

}

.map {

}

.price-wrap {
  > div {
    > h2 {
      font-weight: bolder;
      color: #192c3e;
    }
  }
}

.price {
  position: relative;

  label {
    color: #ff6600;
  }

  > div {
    display: inline-flex;

    > div {
      > div {
        width: fit-content;

        > div {
          > span {
            > div {
              width: 119px;
              border: 1px solid #ff6600;
              font-size: large;
              box-shadow: none;
            }

            > div:focus {
              border: #ff6600 1px solid;
              box-shadow: 0 0 0 2px rgba(255, 115, 30, 0.2);
            }

            > div:hover {
              border: #ff540b 1px solid;
              box-shadow: 0 0 0 2px rgba(255, 115, 30, 0.2);

            }
          }
        }
      }
    }
  }
;
}

.currency {
  position: absolute;
  right: 30px;

  > p {
    margin-top: 44px;
    font-size: large;
  }
}

.map-container {
  height: 300px;
  width: 800px;
  margin: 20px auto;

}

.map-element {
  width: 100%;
  height: 100%;
  border: 2px solid #ff6600;

}

.direction {

  > .selected-routes {
    width: max-content;
    margin: auto;

    > p {
      display: inline-block;
      margin-left: 20px;
      font-size: large;
      font-weight: bold;
      color: #ff6600;

      > i {
        color: #52c41a;
      }
    }
  }

  > .route-info {
    margin: auto;
    width: fit-content;
    color: #192c3e;

    > p {
      //display: inline-flex;
      margin-left: 20px;
      font-weight: bolder;
      font-size: large;

      > i {
        margin-left: 20px;
      }
    }
  }
}

.date-picker {
  margin-right: 20px;

  > div {
    > input {
      border-radius: 40px;
      width: 200px;
      height: 40px;
      text-align: center;
      font-weight: bold;
      font-size: large;
      background-color: #ff6600;
      border: 3px solid #ff6600;
      color: white;
    }

    > input:focus {
      border-color: #ff2e0f !important;

    }

    > input:hover {
      border-color: #ff2e0f !important;

    }

    > i {
      right: 25px;

      > svg {
        color: white !important;
      }
    }
  }
}


.date-filled {
  > div {
    > input {
      background: none !important;
      color: #ff6600;

    }

    > i {
      right: 25px;

      > svg {
        color: #ff6600 !important;
      }
    }
  }
}


.time-picker {
  margin-left: 20px;
  display: inline;

  > input {
    background-color: #ff6600;
    display: inline;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    border: 3px solid #ff6600;
    font-weight: bold;
    font-size: large;
  }

  > input:focus {
    border-color: #ff2e0f !important;

  }

  > input:hover {
    border-color: #ff2e0f !important;

  }

  > span {
    right: 25px;

    > i {
      > svg {
        color: white !important;
      }
    }
  }
}

.time-filled {
  > input {
    background: none;
    color: #ff6600;

  }

  > span {
    > i {
      right: 25px;

      > svg {
        color: #ff6600 !important;
      }
    }
  }
}

:disabled {
  background-color: #ff6600 !important;
  border: #ff6600 1px solid !important;
  color: white !important;
  border-radius: 40px !important;

}

:disabled::placeholder {
  color: white;
}

h3 {
  color: #ff6600;
  margin-bottom: 0;
}

.anticon-close-circle {
  display: none;
}

.button-fill {
  background-color: transparent !important;
  color: #ff6600 !important;
}

.button-fill:hover {
  border-color: #ff2605 !important;
}

.extra-info {
  h2 {
    color: #192c3e;
    font-weight: bolder;
  }

  > div {
    > div {
      > div {
        label {
          font-weight: bolder;
          color: #192c3e;
        }

        textarea {
          border: #ff6600 1px solid;
        }

        textarea:hover {
          border: #ff6600 1px solid;
        }

        textarea:focus {
          border: #ff6600 1px solid;

        }
      }
    }
  }
}


@media (max-width: 846px) {
  .plll {
    width: 100%;
  }
  .map-container {
    width: 100%;
  }

  .from-to {
    width: 100%;

    > div {
      width: 42%;
    }
  }
}

@media (max-width: 600px) {
  .from-to {
    width: 100%;

    > div {
      width: 90%;
    }
  }
  .price-seats {
    > div {
      display: block;

    }
  }
  .price {
    width: fit-content;
    margin: auto;
  }
  .currency {
    position: relative;

    > p {
      margin-top: 30px;
    }
  }
  .seats {
    width: fit-content;
    margin: auto;

    > #inp {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 490px) {

  .time-picker {
    margin-left: 0;
  }

  .date-picker {
    margin-right: 0;
  }

}