
.my-ride-layout{
  width: 90%;
  margin: auto;
  padding-top: 100px;
}

.ant-layout-footer {
  padding: 10px 50px;
}

.ant-layout-header {
  padding: 0;
}
.list-date{
  >p{
    display: inline-block;
    margin: 0 10px;
  }
}

.btn-list{
  display: inline-flex;
  float: right;
}

.modal-content-req{
  p{
    margin: 10px auto;
  }
}

.avatar-req{
  right: 15px;
  margin-bottom: 7px;

}

.modal-avatar-user{
  width: fit-content;
  margin: auto;
  >div{
    display: inline-block;
  }
}

@media screen and (max-width: 450px){
  .my-ride-layout{
    width: 100% !important;
    padding-top: 55px !important;
  }
  .content-main{
    padding: 0 !important;
  }

}