.ant-menu-horizontal > .ant-menu-item > a {
  display: block;
  color: #ff6600;
}
.ant-menu-horizontal > .ant-menu-item-selected > a {
  color: #ff6600;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: #cf5a13;
}

.withoutHeader{
  //display: none;
  position: absolute;
  width: 100%;
  z-index: 10;
  padding: 0;
  background: none;
  transition: 0.7s;

  > .container > .ant-menu-horizontal{
    border-bottom: none;
    margin: auto;
  }


}







.app-header {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 10;
  padding: 0;
  background-color: #ffff;
  transition: 0.5s;
  //background: ;
}

.app-menu {
  text-align: center;
  background: none ;

  >li {
    padding: 0 20px;
    > a {
      color: #ff6600;
      padding: 0 20px;
      margin: 0 -20px;
      > i {
        color: #ff6600 !important;

        margin-right: 10px !important;
      }
    }
  }
}





.profile-dropdown-menu {
  min-width: 180px;
  .user-full-name-info {
    font-size: 17px;
    font-weight: 600;
    //color: rgba(0,0,0,0.85);
  }
  .username-info {
    font-size: 14px;
    //color: rgba(0,0,0,0.65);
  }
}

.dropdown-item {
  padding: 10px 12px;
  a {
    padding: 10px 12px;
    margin: -10px -12px;
  }
}

.nav-icon {
  font-size: 20px;
}

.poll-icon {
  margin-top: -4px;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  min-width: 0px;
  margin-right: 0px;
  font-size: 30px;
  transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.avatar{
  float: right;
  right: 10%;
  > div{
    display: inline-flex;
    height: 63px;
    //border: 1px black solid;
    >p {
      padding-right: 10px;
  }
    >i{
      padding-top: 21%;
    }

    >span{
      >i{
         min-width: 0px;
         margin-right: 0px;
         font-size: 30px;
      }
    }
  };
}



@media (max-width: 846px) {

  .app-header{
    height: 55px;
  }
  .app-menu {
    //display: none;
    > li {
      padding: 0 5px;
      > a {
        padding: 0 15px;
        margin: 0 -15px;

      }
    }
  }
}

@media screen and (min-width: 1260px) {
  .app-header{
 width: 1260px;
}
}