
.app-js{
    width: 100%;
    position: relative;
    background-image: url("images/Cardosh_background.png");
    background-repeat: no-repeat;
    background-size: 100%  2600px;
    font-family: 'Archivo', sans-serif;
    overflow-x: hidden;

}
html,body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
@media screen and (min-width: 1400px) {
    .app-js{
        width: 1400px;
        margin: auto;
    }
}

@media screen and (max-width: 768px){
    .app-js{
        //background-attachment: fixed;
        //background-size: 100% 100%;
        background: none;
    }
}