
.app-js{
    width: 100%;
    position: relative;
    background-image: url("images/Cardosh_background.png");
    background-repeat: no-repeat;
    background-size: 100%  2600px;
    font-family: 'Archivo', sans-serif;
}

@media screen and (min-width: 1400px) {
    .app-js{
        width: 1400px;
        margin: auto;
    }
}

@media screen and (max-width: 500px){
    .app-js{
        background-attachment: fixed;
        background-size: cover;
        background-position-x: -50px;
    }
}